<h2>Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success" >nova postagem</button></a>

{{#each postagens}}
    <div class="card mt-3">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small></br>
            <small>Categria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success  mt-3">Editar postagem</button></a>
            <br>    
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger  mt-1">Deletar postagem</button></a>
        </div>
    </div>

{{else}}
    <p>nenhuma postgem encontrada</p>
{{/each}}